#grid {
  height: 780px;
  margin: auto;
  width: 780px; }

.grid-element {
  cursor: pointer;
  display: inline-block;
  height: 250px;
  width: 250px;
  border: 1px solid #d2d2d2;
  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background-size: 100% 20px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); }
  .grid-element span {
    opacity: 0;
    transform: rotateX(-90deg);
    transition: all 0.7s ease-out; }
    .grid-element span.element {
      opacity: 1;
      transform: none;
      transition: all 0.7s ease-out; }

.current-turn {
  width: 350px;
  height: 405px;
  position: fixed;
  top: 10px;
  right: 115px;
  font-family: Impact, Charcoal, sans-serif;
  border: 1px solid #d2d2d2;
  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background-size: 100% 20px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); }
  .current-turn p {
    color: #000;
    text-align: center;
    font-size: 32px; }

.o {
  border: 30px solid #ec5950;
  border-radius: 110px;
  display: block;
  height: 160px;
  margin: 16px auto;
  width: 160px; }

.x {
  position: relative;
  display: block; }

.x:after {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\274c";
  font-size: 245px;
  color: #000100;
  line-height: 100px;
  text-align: center; }

.options {
  position: fixed;
  left: 100px; }

.hidden {
  display: none; }

input[type=radio] {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  opacity: 0; }

input[type=radio] + label {
  display: inline-block;
  margin-left: -2em;
  line-height: 1.5em; }

input[type=radio] + label > span {
  display: inline-block;
  width: 0.875em;
  height: 0.875em;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 0.0625em solid silver;
  border-radius: 0.25em;
  background: #e0e0e0;
  background-image: -moz-linear-gradient(#f0f0f0, #e0e0e0);
  background-image: -ms-linear-gradient(#f0f0f0, #e0e0e0);
  background-image: -o-linear-gradient(#f0f0f0, #e0e0e0);
  background-image: -webkit-linear-gradient(#f0f0f0, #e0e0e0);
  background-image: linear-gradient(#f0f0f0, #e0e0e0);
  vertical-align: bottom; }

input[type=radio]:checked + label > span {
  background-image: -moz-linear-gradient(#e0e0e0, #f0f0f0);
  background-image: -ms-linear-gradient(#e0e0e0, #f0f0f0);
  background-image: -o-linear-gradient(#e0e0e0, #f0f0f0);
  background-image: -webkit-linear-gradient(#e0e0e0, #f0f0f0);
  background-image: linear-gradient(#e0e0e0, #f0f0f0); }

input[type=radio]:checked + label > span > span {
  display: block;
  width: 0.5em;
  height: 0.5em;
  margin: 0.125em;
  border: 0.0625em solid #73994d;
  border-radius: 0.125em;
  background: #99cc66;
  background-image: -moz-linear-gradient(#b3d98c, #99cc66);
  background-image: -ms-linear-gradient(#b3d98c, #99cc66);
  background-image: -o-linear-gradient(#b3d98c, #99cc66);
  background-image: -webkit-linear-gradient(#b3d98c, #99cc66);
  background-image: linear-gradient(#b3d98c, black); }
